@import './common/global';

.projectsTable {
	tbody {
		td.repositoryUrl, td.launchUrl {
			word-break: break-word;
		}
	}
}

.submitBtn {
	&.add {
		&:before {
			content: 'Add'
		}
	}

	&.edit {
		&:before {
			content: 'Save'
		}
	}
}
