@import './common/global';

h1 {
	padding: 10px 15px;
}

.connection {
	color: #fff; 
	padding: 3px 6px;
	float: right;

	&.connected {
		background: green;
	}

	&.disconnected {
		background: red;
	}
}

